<div class="jumbotron">
  <h3>Calculate Away!</h3>
  <form class="calc-form">
      <div class="form-group">
          <input ng-model="op1" type="number" class="form-control" id="operand1" placeholder="Operand 1">
      </div>
      <div class="form-group">
          <input ng-model="op2" type="number" class="form-control" id="operand2" placeholder="Operand 2">
      </div>
      <button ng-click="Add()" type="button" class="btn btn-success">&plus;</button>
      <button ng-click="Subtract()" type="button" class="btn btn-success">&minus;</button>
      <button ng-click="Multiply()" type="button" class="btn btn-success">&times;</button>
      <button ng-click="Divide()" type="button" class="btn btn-success">&divide;</button>

  </form>
</div>
  

